<template name="SideNav">
    <nav class="side-nav">
        <ul>
            <li>
                <a href="/idea-bank"><i class="fa fa-fw fa-lightbulb-o"></i> Idea Bank</a>
            </li>
            <li>
                <a href="/diligence-planner"><i class="fa fa-fw fa-calendar-check-o"></i> Diligence Planner</a>
            </li>
            <li>
                <a href="/expert-network"><i class="fa fa-fw fa-university"></i> Expert Networks</a>
            </li>
            <li>
                <a href="/RMS"><i class="fa fa-fw fa-book"></i> RMS</a>
            </li>
            <li>
                <a href="/checklist"><i class="fa fa-fw fa-check-square-o"></i> Checklist</a>
            </li>
        </ul>
    </nav>
</template>